{% extends "students/base.html" %}

{% block title %}
    Students
{% endblock %}


{% block content %}

    <h2>Students</h2>

    <p>Total students: {{ students|length }}</p>


    {% if students %}

        <table border="1">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Action</th>
                </tr>
            </thead>


            <tbody>

                {% for student in students %}

                    <tr>

                        <td>{{ student.id }}</td>

                        <td>{{ student.name|title }}</td>

                        <td>{{ student.age }}</td>

                        <td>
                            <a href="{% url 'students:student-detail' student.id %}">
                                View Details
                            </a>
                        </td>

                    </tr>

                {% endfor %}

            </tbody>
            
        </table>

    {% else %}

        <p>No students found.</p>

    {% endif %}

{% endblock %}