{% extends "students/base.html" %}

{% block title %}
    {% if student %}
        Edit Student
    {% else %}
        Add Student
    {% endif %}
{% endblock %}

{% block content %}

    {% if student %}
        <h2>Edit Student</h2>
    {% else %}
        <h2>Add Student</h2>
    {% endif %}

    <form method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            {% if student %}
                Update Student
            {% else %}
                Add Student
            {% endif %}
        </button>

    </form>

    <br>

    <a href="{% url 'students:student-list' %}">
        Back to Students
    </a>

{% endblock %}